[submodule "Todomill_projectorium"]
	path = Todomill_projectorium
	url = git@github.com:DanEdens/TodoMill_Projectorium.git
[submodule "node-red-contrib-mongo-cli"]
	path = node-red-contrib-mongo-cli
	url = https://github.com/DanEdens/node-red-omnispindle.git
